<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>

  </head>
  <body>
    <p>
      <a href={% url 'users' %} {# url is a keyword, the string after is the NAME specified in urlpatterns for each URL#}>
        /users/:  Demos retrieving stuff from database and rendering it
      </a>  
    </p>
    <p>
      <a href={% url 'usersForm' %}>
        /forms/user/ :  Demos rendering a Form from a Model + adding stuff into database
      </a>
    </p>
    <p>
      <a href={% url 'imageDemo' %}>
        /image/ :  Demos rendering an image (static file)
      </a>
    </p>
  </body>
</html>